html {
    background-color: azure;
    height: 600px;
    cursor: default;
}
body {
    margin: 0;
    padding: 0;
}

.box {
    margin: 8% 320px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 650px;
    background-color: hsl(43, 74%, 49%);
    border: black solid 4px;
    border-radius: 14px;
    
}
.morpionImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    height: 450px;
    width: 650px;
    background: url(image/morpion.png) no-repeat;
    margin: 20px;
}
.grille_bouton {
    padding-left: 40px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: max-content;
    margin: auto;
}
#bouton {
    height: 80px;
    width: 80px;
    opacity: 0.5%;
    border: none;
    cursor: pointer;

}
